#status{
  font-size: 0.3em;
}

* {
  font-family: 'Roboto', sans-serif;
}

.grey {
  color: #afadad;
}

.panel {
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-body {
  background-color: #fafafa;
}
